/* Write some CSS below */

body {
    font-family: Overpass;
    color: #404042;
    font-size: 18px;
    margin: 0;
}

h1, h2, h3 {
    font-family: Chivo;
}

a {
    color: #1A48E3;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.banner {
    background-image: url("images/background.jpg");
    background-size: cover;
    padding: 150px 0;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 48px;
}

.banner p {
    color: white;
    opacity: 0.8;
    font-size: 24px;
    margin-bottom: 48px;
}

.btn-blue {
    color: white;
    background-color: blue;
    padding: 24px 36px;
    border-radius: 4px;
}

.container {
    width: 1024px;
    margin: auto;
    margin-bottom: 24px;
}

.card-white {
    width: 256px;
    border-radius: 4px;
    box-shadow: 0 0 10px lightgrey;
    margin: 12px;
    padding: 24px;
}

.card-white img {
    border-radius: 4px;
    width: 100%;
}

.footer {
    color: lightgrey;
    background-color: rgb(50, 50, 50);
    padding: 24px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}